<div class="sign-up">
  <div class="container mx-auto">
    <div class="center-container mx-auto text-center">
      <%= render "devise/shared/error_messages", resource: resource %>
      <h1>FanNotes</h1>
      <h2 class="my-4">Sign up</h2>

      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

        <div class="field mb-3">
          <%= f.text_field :account_name, autofocus: true, autocomplete: "account_name", placeholder: "\uf007  UserName", class: "fa" %>
        </div>

        <div class="field mb-3">
          <%= f.email_field :email, autocomplete: "email", placeholder: "\uf0e0  Email", class: "fa" %>
        </div>

        <div class="field mb-3">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "\uf084  Password(6文字以上)", class: "fa" %>
        </div>

        <div class="field mb-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "\uf084  Password確認用", class: "fa" %>
        </div>

        <div class="actions mb-3">
          <%= f.submit "Sign Up", class: "button btn-sign-up" %>
        </div>
      <% end %>

      <div class="devise-buttons text-right">
        <%= link_to new_session_path(resource_name), class: "devise-link ml-auto" do %>
          Log In<i class="fas fa-arrow-right ml-2"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
