<div class="search main">
  <div class="container">
    <h2>検索結果</h2>
    <% if @user_or_image === "2" %>
      <h4><%= @search_post_images.count %>件のイラストが見つかりました</h4>
        <% if @search_post_images.present? %>
          <%= render 'post_images/post_image_item', post_images: @search_post_images %>
        <% else %>
          <div class="search-no-item">
            <h3>お探しのイラストは見つかりませんでした。</h3>
            <p>キーワードを変えてお試しください</p>
          </div>
        <% end %>
    <% else %>
      <h4><%= @search_users.count %>件のユーザーが見つかりました</h4>
        <% if @search_users.present? %>
          <% @search_users.each do |search_user| %>
            <%= link_to user_path(search_user) do %>
              <div class="search-user py-4 mt-4">
    
                <div class="row">
                  <div class="search-user-image col-md-4 text-center">
                    <%= attachment_image_tag search_user, :profile_image, fallback: "no_image.jpg", size: "150x150" %>
                  </div>
    
                  <div class="search-user-text col-md-8">
                    <h4><i class="fas fa-user mr-2"></i><%= search_user.account_name %></h4>
                    <div class="row text-center mb-4">
                      <div class="col-md-4">
                        フォロー数<br />
                        <span><%= search_user.following_user.count %>人</span>
                      </div>
                      <div class="col-md-4">
                        フォロワー数<br />
                        <span><%= search_user.followed_user.count %>人</span>
                      </div>
                      <div class="col-md-4">
                        投稿数<br />
                        <span><%= search_user.post_images.count %>投稿</span>
                      </div>
                    </div>
    
                    <div class="search-user-reception text-center">
                      <% if search_user.is_reception === true %>
                        <span class="font-weight-bold bg-success p-3 rounded-pill">
                          依頼受付中
                        </span>
                      <% else %>
                        <span class="font-weight-bold bg-danger p-3 rounded-pill">
                          依頼不可
                        </span>
                      <% end %>
                    </div>
                  </div>
    
                </div>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <div class="search-no-item">
            <h3>お探しのユーザーは見つかりませんでした。</h3>
            <p>キーワードを変えてお試しください</p>
          </div>
        <% end %>
      <% end %>
  </div>
</div>