<div class="search main">
  <div class="container">
    <h2><span class="search-word">"<%= @search_word %>"</span>の検索結果</h2>
    <% if @user_or_image === "2" %>
      <% if @search_post_images.empty? %>
        <div class="search-no-item">
          <h3>お探しのイラストは見つかりませんでした。</h3>
          <p>キーワードを変えてお試しください</p>
        </div>
      <% else %>
        <h4><span class="search-count"><%= PostImage.where(['title LIKE ? OR image_introduction LIKE ?', "%#{params[:search]}%", "%#{params[:search]}%"]).count %></span>件のイラストが見つかりました</h4>
        <%= render 'post_images/post_image_item', post_images: @search_post_images %>
        <%= paginate @search_post_images %>
      <% end %>
    <% else %>
      <% if @search_users.empty? %>
        <div class="search-no-item">
          <h3>お探しのユーザーは見つかりませんでした。</h3>
          <p>キーワードを変えてお試しください</p>
        </div>
      <% else %>
        <h4><span class="search-count"><%= User.where(['account_name LIKE ?', "%#{params[:search]}%"]).count %></span>件のユーザーが見つかりました</h4>
        <%= render 'users/user_item', users: @search_users %>
        <%= paginate @search_users %>
      <% end %>
    <% end %>
  </div>
</div>