<div class="notification main">
  <div class="container">
    <div class="row">
      <% if @notifications.exists? %>
        <div class="col-md-6 mx-auto">
          <div class="notification-contents">
            <% @notifications.each do |notification| %>
              <div class="notification-top">
                <p>
                  <span>
                    <%= attachment_image_tag notification.visitor, :profile_image, fallback: "no_image.jpg", size: "30x30" %>
                  </span>

                  <% case notification.action
                  when 'follow' then %>
                    <%= notification.visitor.account_name %>さんがあなたをフォローしました
                  <% when 'favorite' then %>
                    <%= notification.visitor.account_name %>さんが<%= link_to 'あなたの投稿', post_image_path(notification.post_image) %>にいいねしました
                  <% when 'post_image_comment' then %>
                    <%= notification.visitor.account_name %>さんが<%= link_to 'あなたの投稿', post_image_path(notification.post_image) %>にコメントしました
                  <% when 'request' then %>
                    <%= notification.visitor.account_name %>さんからあなたに
                    <%= link_to 'イラストの依頼', user_requested_show_path(user_id: notification.visited_id, id: notification.request_id) %>が届きました
                  <% when 'request_ok' then %>
                    <%= notification.visitor.account_name %>さんが
                    あなたの<%= link_to 'イラストの依頼', user_requesting_show_path(user_id: notification.visitor_id, id: notification.request_id) %>の製作を開始しました
                  <% when 'request_out' then %>
                    <%= notification.visitor.account_name %>さんが
                    あなたの<%= link_to 'イラストの依頼', user_requesting_show_path(user_id: notification.visitor_id, id: notification.request_id) %>の製作をしないが選択されました
                  <% when 'request_complete' then %>
                    <%= notification.visitor.account_name %>さんが
                    あなたの<%= link_to 'イラストの依頼', user_requesting_show_path(user_id: notification.visitor_id, id: notification.request_id) %>を製作を完了しました
                  <% end %>
                </p>
              </div>
              <div class="notification-bottom text-secondary">
                <p><%= time_ago_in_words(notification.created_at) %>前</p>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <p>現在の通知はありません</p>
      <% end %>
    </div>
  </div>
</div>