<div class="user-items-row">
  <% users.each do |user| %>
    <%= link_to user_path(user) do %>
      <div class="user-item-row mb-4">
        <div class="search-user-image text-center">
          <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", size: "150x150" %>
        </div>
        
        <div class="user-item-text text-center">
          <h4>
            <% if user.account_name.present? %>
              <%= user.account_name %>
            <% else %>
              <%= user.user_name %>
            <% end %>
          </h4>
          <div class="text-center mb-4 d-flex justify-content-around user-item-text-bottom">
            <div>
              フォロー数<br />
              <span class="user-item-text-number"><%= user.following_user.count %></span>人
            </div>
            <div>
              フォロワー数<br />
              <span class="user-item-text-number"><%= user.followed_user.count %></span>人
            </div>
            <div>
              投稿数<br />
              <span class="user-item-text-number"><%= user.post_images.count %></span>投稿
            </div>
            <div>
              依頼成功数<br />
              <span class="user-item-text-number"><%= user.complete_request_count %></span>回
            </div>
          </div>
        
          <div class="search-user-reception text-center">
            <% if user.is_reception === true %>
              <span class="font-weight-bold p-3 request-success">
                依頼受付中
              </span>
            <% else %>
              <span class="font-weight-bold bg-danger p-3 request-out">
                依頼不可
              </span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>