<div class="user-edit">
  <div class="container">
    <div class="row">
      <div class="user-edit-profile col-md-8 mx-auto post">

        <div class="edit-profile-image">
          <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", id: "profile_preview" %>
        </div>

        <%= render 'layouts/error_messages', model: @user %>
        <%= form_with model: @user, local: true do |f| %>
        
          <div class="field mb-4 row">
            <dt class="col-md-4 d-flex align-items-center flex-wrap">
              <%= f.label :user_name, "名前"%>
              <span class="require-icon">必須</span>
            </dt>
            <dl class="col-md-8">
              <%= f.text_field :user_name, placeholder: "本名を入力してください" %>
            </dl>
          </div>
          
          <div class="field mb-4 row">
            <dt class="col-md-4 d-flex align-items-center flex-wrap">
              <%= f.label :account_name, "アカウントネーム"%>
            </dt>
            <dl class="col-md-8">
              <%= f.text_field :account_name, placeholder: "アカウントネームを入力してください" %>
            </dl>
          </div>
          
          <div class="field mb-4 row">
            <dt class="col-md-4">
              <%= f.label :user_introduction, "プロフィール"%>
            </dt>
            <dl class="col-md-8">
              <%= f.text_area :user_introduction, placeholder: "プロフィール" %>
            </dl>
          </div>
          
          <div class="field mb-4 row">
            <dt class="col-md-4">
              <%= f.label :profile_image, "アイコン"%>
            </dt>
            <dl class="col-md-8">
              <%= f.attachment_field :profile_image %>
            </dl>
          </div>
          
          <div class="field mb-4 row">
            <dt class="col-md-4 d-flex align-items-center flex-wrap">
              <%= f.label :is_reception, "受付状況"%>
              <span class="require-icon">必須</span>
            </dt>
            <dl class="col-md-8 d-flex user-edit-reception">
              <div>
                <%= f.radio_button :is_reception, true %>
                <%= f.label :is_reception, '受け付ける', value: true %>
              </div>
              <div class="ml-4">
                <%= f.radio_button :is_reception, false %>
                <%= f.label :is_reception, '受け付けない', value: false %>
              </div>
            </dl>
          </div>
          
          <div class="mb-5 text-center">
            <%= f.submit '更新する', class: "button" %>
          </div>
          <div class="user-destroy-button mt-5 text-center">
            <%= link_to "退会する", user_path(@user),
                                    method: :delete,
                                    data: {confirm: "本当に退会しますか?退会するとこれまでのあなたの情報は全て削除されます。"},
                                    class: "btn white-button sp-button"
                                    %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>