<div class="user-index main">
  <div class="container">

    <% if @selection.blank? %>
      <div class="user-index-head d-flex justify-content-between align-items-center">
        <h2><i class="fas fa-users mr-2"></i>一覧</h2>
        <%= render 'search/sort_user' %>
      </div>
      <%= render 'users/user_item', users: @users %>
      <%= paginate @users %>
    <% elsif @selection == 'new' %>
      <div class="user-index-head d-flex justify-content-between align-items-center">
        <h2>新しいユーザー</h2>
        <%= render 'search/sort_user' %>
      </div>
      <%= render 'users/user_item', users: @sort_users %>
      <%= paginate @sort_users %>
    <% elsif @selection == 'old' %>
      <div class="user-index-head d-flex justify-content-between align-items-center">
        <h2>古いユーザー</h2>
        <%= render 'search/sort_user' %>
      </div>
      <%= render 'users/user_item', users: @sort_users %>
      <%= paginate @sort_users %>
    <% elsif @selection == 'many_post_images' %>
      <div class="user-index-head d-flex justify-content-between align-items-center">
        <h2>投稿が多いユーザー</h2>
        <%= render 'search/sort_user' %>
      </div>
      <%= render 'users/user_item', users: @sort_users %>
      <%= paginate @sort_users %>
    <% else %>
      <div class="user-index-head d-flex justify-content-between align-items-center">
        <h2>依頼達成数が多いユーザー</h2>
        <%= render 'search/sort_user' %>
      </div>
      <%= render 'users/user_item', users: @sort_users %>
      <%= paginate @sort_users %>
    <% end %>

  </div>
</div>