<div class="user-index main">
  <div class="container">

    <% if @selection.blank? %>
      <%= render 'users/sort_index', sort_index_title: "ユーザー一覧", users: @users%>
    <% elsif @selection == 'new' %>
      <%= render 'users/sort_index', sort_index_title: "新しいユーザー", users: @sort_users%>
    <% elsif @selection == 'old' %>
      <%= render 'users/sort_index', sort_index_title: "古いユーザー", users: @sort_users%>
    <% elsif @selection == 'many_post_images' %>
      <%= render 'users/sort_index', sort_index_title: "投稿が多いユーザー", users: @sort_users%>
    <% else %>
      <%= render 'users/sort_index', sort_index_title: "依頼達成数が多いユーザー", users: @sort_users%>
    <% end %>

  </div>
  <div class="back-button d-inline-block">
    <%= link_to main_post_images_path do %>
      <i class="fas fa-arrow-circle-left mr-2"></i>メイン画面へ
    <% end %>
  </div>
</div>