<div class="request-show-introduction mb-4 d-flex align-items-center">
  <dt class="request-show-post-title">
    <h6>内容詳細</h6>
  </dt>
  <dl>
    <h4><%= request.request_introduction %></h4>
  </dl>
</div>

<div class="request-show-image mb-4 d-flex align-items-center">
  <dt class="request-show-post-title">
    <h6>参考画像</h6>
  </dt>
  <dl class="request-reference-image">
    <%= attachment_image_tag request, :reference_image, fallback: "no_image.jpg" %>
  </dl>
</div>

<div class="request-show-file-format mb-4 d-flex align-items-center">
  <dt class="request-show-post-title">
    <h6>ファイル形式</h6>
  </dt>
  <dl>
    <h4><%= request.file_format %>形式</h4>
  </dl>
</div>

<div class="request-show-file-format mb-4 d-flex align-items-center">
  <dt class="request-show-post-title">
    <h6>用途</h6>
  </dt>
  <dl>
    <h4><%= request.use %></h4>
  </dl>
</div>

<div class="request-show-amount mb-4 d-flex align-items-center">
  <dt class="request-show-post-title">
    <h6>枚数</h6>
  </dt>
  <dl>
    <h4><%= request.amount %>枚</h4>
  </dl>
</div>

<div class="request-show-deadline mb-4 d-flex align-items-center">
  <dt class="request-show-post-title">
    <h6>納期</h6>
  </dt>
  <dl>
    <h4><%= l request.deadline %></h4>
  </dl>
</div>

<div class="request-show-status mb-5 d-flex align-items-center">
  <dt class="request-show-post-title">
    <h6>受付状況</h6>
  </dt>
  <dl>
    <%= render 'layouts/request_status_buttons', request: request %>
  </dl>
</div>