<div class="request mb-4">
  <div class="request-user-image">
    <%= attachment_image_tag request_user, :profile_image, fallback: "no_image.jpg" %>
  </div>

  <div class="request-info py-3">
    <h4><i class="fas fa-user mr-2"></i><%= request_user.account_name %></h4>

    <div class="d-flex request-info-items">
      <div class="request-info-deadline">
        <div class="d-flex flex-column flex-wrap">
          <span class="request-info-deadline-title">依頼日</span><h5 class="d-inline-block"><%= l request.created_at, format: :date %></h5>
          <span class="request-info-deadline-title">納期</span><h5 class="d-inline-block"><%= l request.deadline %></h5>
        </div>
      </div>
      <div class="request-info-status ml-5">
        <%= render 'layouts/request_status_buttons', request: request %>
      </div>
    </div>

  </div>
</div>