<div class="request-new">
  <div class="row">
    <div class="post col-md-6 mx-auto">
      <%= render 'layouts/error_messages', model: @request %>
      <%= form_with model: @request, url: user_requests_path(@user), local: true do |f| %>
        <div class="field mb-4 text-center">
          <h4><%= @user.account_name %>へイラストの依頼をする</h4>
        </div>
        <div class="field mb-4 row">
          <dt class="col-md-4 d-flex align-items-start flex-wrap">
            <%= f.label :request_introduction, "依頼内容"%>
            <span class="require-icon">必須</span>
          </dt>
          <dl class="col-md-8">
            <%= f.text_area :request_introduction, placeholder: "依頼内容を入力してください" %>
          </dl>
        </div>
        <div class="field mb-4 row">
          <dt class="col-md-4">
            <%= f.label :reference_image, "参考画像"%>
          </dt>
          <dl class="col-md-8">
            <%= f.attachment_field :reference_image %>
          </dl>
        </div>
        <div class="field mb-4 row">
          <dt class="col-md-4">
          </dt>
          <dl class="col-md-8">
            <img id="reference_preview">
          </dl>
        </div>
          
        <div class="field mb-4 row">
          <dt class="col-md-4 d-flex align-items-center flex-wrap">
            <%= f.label :file_format, "ファイル形式" %>
            <span class="require-icon">必須</span>
          </dt>
          <dl class="col-md-8">
            <%= f.select :file_format, Request.file_formats.keys, :selected=>Request.file_formats[@request.file_format] %>
          </dl>
        </div>
        <div class="field mb-4 row">
          <dt class="col-md-4 d-flex align-items-start flex-wrap">
            <%= f.label :use, "用途"%>
            <span class="require-icon">必須</span>
          </dt>
          <dl class="col-md-8">
            <%= f.text_area :use, placeholder: "用途を入力してください" %>
          </dl>
        </div>
        <div class="field mb-4 row">
          <dt class="col-md-4 d-flex align-items-start flex-wrap">
            <%= f.label :amount, "枚数"%>
            <span class="require-icon">必須</span>
          </dt>
          <dl class="col-md-8">
            <%= f.number_field :amount %>
            <h6>※枚数は1枚以上99枚以下での範囲で選択してください</h6>
          </dl>
        </div>
        <div class="field mb-4 row">
          <dt class="col-md-4 d-flex align-items-start flex-wrap">
            <%= f.label :deadline, "締め切り"%>
            <span class="require-icon">必須</span>
          </dt>
          <dl class="col-md-8">
            <%= f.date_field :deadline %>
            <h6>※締切には最短で3日後から入力してください</h6>
          </dl>
        </div>

        <div class="post-button text-center">
          <%= f.submit "依頼を送信する", class: "button"%>
        </div>
      <% end %>
  </div>
</div>