<div class="requesting-show">
  <div class="row">
    <div class="post col-md-6 mx-auto">
      <h3 class="mb-5 text-center">
        <%= link_to @request.requested.account_name, user_path(@request.requested)%>への依頼
      </h3>

      <%= render 'requests/request_show', request: @request %>

      <div class="request-show-buttons d-flex align-items-center mb-5">
        <div class="mx-auto">
          <% if @request.request_status === "未受付" %>
            <%= link_to "依頼を変更する", edit_user_request_path(user_id: @request.requested_id, id: @request), class: "btn white-button sp-button mb-2"%>
            <%= link_to "依頼を取り消す", user_request_path(user_id: @request.requested_id, id: @request ),
                                          method: :delete,
                                          data: {confirm: "本当に依頼を取り消しますか？この動作は元には戻せません"},
                                          class: "btn white-button sp-button danger-button mb-2" %>
          <% elsif @request.request_status === "受付不可" %>
            <div class="text-center">
              <%= link_to "依頼を削除する", user_request_path(@request),
                                        method: :delete,
                                        data: {confirm: "製作者からの了承が得られませんでした。依頼を削除しますか？"},
                                        class: "btn white-button danger-button sp-button"%>
            </div>
          <% elsif @request.request_status === "製作完了" %>
            <%= link_to "完成した作品を確認する", user_request_complete_path(user_id: @request.requested_id, id: @request ), class: "btn white-button sp-button"%>
          <% end %>
        </div>
      </div>

      <div class="request-chat-button">
        <%= link_to "チャットを始める", request_chat_path(request_id: @request, id: @request.requested), class: "chat-button" %>
      </div>

      <div class="back-button d-inline-block">
        <%= link_to user_requesting_path(current_user) do %>
          一覧画面に戻る<i class="fas fa-arrow-circle-left fa-flip-horizontal ml-1"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>