<div class="requesting main">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto text-center">
        <%= render 'users/user_profile', user: current_user %>
      </div>

      <div class="mx-auto col-md-7">
        <div class="requesting-title d-flex">
          <h2>依頼中の内容一覧</h2>
          <h3 class="ml-auto font-weight-bold">全<%= current_user.request.count %>件</h3>
        </div>
        <div class="requests">
          <% @requests.each do |request| %>
            <%= link_to user_requesting_show_path(user_id: request.requested_id, id: request), class: "requesting_request_repec" do %>
              <%= render 'requests/request_index_item', request_user: request.requested, request: request %>
            <% end %>
          <% end %>
        </div>
        <%= paginate @requests %>
      </div>
    </div>
  </div>
</div>