<div class="request-show">
  <div class="row">
    <div class="post col-md-6 mx-auto">
      <% if current_user === @request_user %>
        <h3>
          <%= link_to @request.requested.account_name, user_path(@request.requested) %>への依頼<i class="fas fa-comment-medical ml-2"></i>
        </h3>
      <% else %>
        <h3>
          <%= link_to @request_user.account_name, user_path(@request_user)%>からの依頼<i class="fas fa-comment-medical ml-2"></i>
        </h3>
      <% end %>

      <div class="request-show-introduction mb-4 row">
        <dt class="col-md-4">
          <h6>内容詳細</h6>
        </dt>
        <dl class="col-md-8">
          <h4><%= @request.request_introduction %></h4>
        </dl>
      </div>

      <div class="request-show-image mb-4 row">
        <dt class="col-md-4">
          <h6>参考画像</h6>
        </dt>
        <dl class="col-md-8">
          <%= attachment_image_tag @request, :reference_image, fallback: "no_image.jpg", size: "300x300" %>
        </dl>
      </div>

      <div class="request-show-file-format mb-4 row">
        <dt class="col-md-4">
          <h6>ファイル形式</h6>
        </dt>
        <dl class="col-md-8">
          <h4><%= @request.file_format %>形式</h4>
        </dl>
      </div>

      <div class="request-show-file-format mb-4 row">
        <dt class="col-md-4">
          <h6>用途</h6>
        </dt>
        <dl class="col-md-8">
          <h4><%= @request.use %></h4>
        </dl>
      </div>

      <div class="request-show-deadline mb-4 row">
        <dt class="col-md-4">
          <h6>納期</h6>
        </dt>
        <dl class="col-md-8">
          <h4><%= l @request.deadline %></h4>
        </dl>
      </div>
      
      <div class="request-show-buttons row">
        <% if current_user === @request_user %>
          <div class="col-md-12">
            <%= render 'layouts/request_status_buttons', request: @request %>
            <% if @request.request_status === "未受付" %>
              <%= link_to "依頼を取り消す", user_request_path(@repuest), 
                                              method: :delete,
                                              data: {confirm: "本当に依頼を取り消しますか？この動作は元には戻せません"},
                                              class: "btn btn-danger" %>
            <% end %>
          </div>
        <% else %>
          <% if @request.request_status === "未受付" %>
            <dt class="col-md-4">
              <h6>受付管理</h6>
            </dt>
            <%= render 'layouts/error_messages', model: @request %>
            <dl class="col-md-8">
              <%= form_with model: @request, url: user_request_path(@request), local: true do |f| %>
                <div>
                  <%= f.radio_button :request_status,  "製作中" %>
                  <%= f.label :request_status, '製作する', value: "製作中" %>
                </div>
                <div>
                  <%= f.radio_button :request_status, "受付不可" %>
                  <%= f.label :request_status, '製作しない', value: "受付不可" %>
                </div>
                <div>
                  <%= f.submit "更新する", class: "btn btn-info"%>
                </div>
              <% end %>
            </dl>
          <% elsif @request.request_status === "受付不可" %>
            <h6 class="request-status-1 btn btn-danger"><%= @request.request_status %></h6>
          <% elsif @request.request_status === "製作中" %>
            <h6 class="request-status-2 btn btn-info"><%= @request.request_status %></h6>
            <%= %>
          <% else %>
            <h6 class="request-status-3 btn btn-primary"><%= @request.request_status %></h6>
          <% end %>
        <% end %>
      </div>
      
    </div>
  </div>
</div>