<div class="log-in">
  <div class="container mx-auto">
    <div class="center-container mx-auto text-center">
      <h1>FanNotes</h1>
      <h2 class="mb-4">Log in</h2>

      <%= form_with model: @user, url: user_session_path, local: true do |f| %>

        <div class="field mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "\uf0e0  Email", class: "fa" %>
        </div>

        <div class="field mb-3">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "\uf084  Password", class: "fa" %>
        </div>

        <div class="actions mb-3">
          <%= f.submit "Log In", class: "btn button" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mb-3">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

      <% end %>

      <%- if devise_mapping.omniauthable? %>
        <p class="mt-5 sns-button-title">他のアカウントからのログイン/登録はこちらから</p>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to  omniauth_authorize_path(resource_name, provider), class: "sns_button mb-3", method: :post do %>
            <% if provider === :twitter %>
              <span class="twitter-button"><i class="fab fa-twitter mr-2"></i>Sign in with Twitter</span>
            <% else %>
              <%= image_tag 'google_button.png' %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <div class="devise-buttons text-left">
        <%= link_to new_registration_path(resource_name), class: "devise-link" do %>
          <i class="fas fa-arrow-left mr-2"></i>Sign Up
        <% end %>
      </div>
    </div>
  </div>
  <div class="test-user">
    <h3>採用担当者様向け</h3>
    <p>発注した依頼を確認していただく、依頼を完了して頂く際にはこちらのアカウントを使用してください</p>
    <ul>
      <li>メールアドレス：test@test.com</li>
      <li>パスワード：000000</li>
      <li>アカウント名：いけちゃん</li>
    </ul>
    <p>もう一方の依頼を確認して頂く際は、topページのゲストログインを使用して頂ければと思います。</p>
    <p>大変お手数ですが、もしよろしければよろしくお願いします。</p>
  </div>
</div>

