<div class="post-image-index-head d-flex justify-content-between align-items-center">
  <h2><%= sort_index_title %></h2>
  <%= render 'search/sort_post_image' %>
</div>
<% unless sort_index_title === "投稿一覧" %>
  <%= render 'post_images/sort_index_genre_button' %>
<% end %>
<div id="sort_post_images">
  <%= render 'post_images/post_image_item', post_images: post_images %>
</div>
<div class="more">
  <%= link_to_next_page post_images, 'もっと見る', remote: true, id: 'view_more' %>
</div>