<div class="post-image-edit">
  <div class="row">
    <div class="post col-md-6 mx-auto">
      <%= render 'layouts/error_messages', model: @post_image %>
      <%= form_with model: @post_image, local: true do |f| %>
        <div class="field mb-4 row">
          <dt class="col-md-4 d-flex align-items-center flex-wrap">
            <%= f.label :title, "タイトル"%>
            <span class="require-icon">必須</span>
          </dt>
          <dl class="col-md-8">
            <%= f.text_field :title, placeholder: "タイトルを入力してください" %>
          </dl>
        </div>
        <div class="field mb-4 row">
          <dt class="col-md-4">
            <%= f.label :image_introduction, "説明"%>
          </dt>
          <dl class="col-md-8">
            <%= f.text_area :image_introduction, placeholder: "作品の内容を入力してください" %>
          </dl>
        </div>
        <div class="field mb-4 row">
          <dt class="col-md-4 d-flex align-items-center flex-wrap">
            <%= f.label :image, "イラスト"%>
            <span class="require-icon">必須</span>
          </dt>
          <dl class="col-md-8">
            <%= f.attachment_field :image %>
          </dl>
        </div>
        <div class="field mb-4 row">
          <dt class="col-md-4">
          </dt>
          <dl class="col-md-8">
            <p>現在の画像</p>
            <%= attachment_image_tag @post_image, :image, id: "preview" %>
          </dl>
        </div>
        
        <div class="post-image-edit-buttons row">
          <div class="post-button text-center col-md-6">
            <%= f.submit "更新する", class: "btn button sp-button"%>
          </div>
          <div class="destroy-button text-center col-md-6">
            <%= link_to "投稿を削除する", post_image_path(@post_image), method: :delete, data: {confirm: "本当にイラストを削除しますか"}, class: "btn white-button"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'layouts/back_button' %>
</div>