<div class="hashtag main">
  <div class="container">
    <h2 class="hashtag-title">#<%= @tag.hashname %></h2><span class="hashtag-count"><%= @tag.post_images.count %></span><span>作品</span>
    <%= render 'post_images/post_image_item', post_images: @post_images %>
    <%= paginate @post_images %>
    <%= render 'layouts/back_button' %>
  </div>
</div>