<div class="post-image-index main">
  <div class="container">
    <h2 class="mb-5">投稿一覧</h2>
    <div class="row">
      <% @post_images.each do |post_image| %>
        <%= link_to post_image_path(post_image), class: "d-block col-md-3" do %>
          <div class="post-image">
            <%= attachment_image_tag post_image, :image %>
            <div class="post-image-text pt-2">
              <i class="fas fa-user mr-2"></i><%= post_image.user.account_name %><br />
              <%= post_image.title %><br />
              <i class="fas fa-heart mr-1"></i><%= post_image.favorites.count %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>