<div class="post-image-index main">
  <div class="container">
    
    <% if @selection.blank? %>
      <div class="post-image-index-head d-flex justify-content-between align-items-center">
        <h2>投稿一覧</h2>
        <%= render 'search/sort_post_image' %>
      </div>
      <%= render 'post_images/post_image_item', post_images: @post_images %>
      <%= paginate @post_images %>
    <% elsif @selection == 'new' %>
      <div class="post-image-index-head d-flex justify-content-between align-items-center">
        <h2>新しい投稿順</h2>
        <%= render 'search/sort_post_image' %>
      </div>
      <%= render 'post_images/post_image_item', post_images: @sort_post_images %>
      <%= paginate @sort_post_images %>
    <% elsif @selection == 'old' %>
      <div class="post-image-index-head d-flex justify-content-between align-items-center">
        <h2>古い投稿順</h2>
        <%= render 'search/sort_post_image' %>
      </div>
      <%= render 'post_images/post_image_item', post_images: @sort_post_images %>
      <%= paginate @sort_post_images %>
    <% elsif @selection == 'many_favorites' %>
      <div class="post-image-index-head d-flex justify-content-between align-items-center">
        <h2>いいねが多い順</h2>
        <%= render 'search/sort_post_image' %>
      </div>
      <%= render 'post_images/post_image_item', post_images: @sort_post_images %>
      <%= paginate @sort_post_images %>
    <% else %>
      <div class="post-image-index-head d-flex justify-content-between align-items-center">
        <h2>いいねが少ない順</h2>
        <%= render 'search/sort_post_image' %>
      </div>
      <%= render 'post_images/post_image_item', post_images: @sort_post_images %>
      <%= paginate @sort_post_images %>
    <% end %>
    
  </div>
</div>