<div class="post-image-index main">
  <div class="container">
    
    <% if @selection.blank? %>
      <%= render 'post_images/sort_index', sort_index_title: "投稿一覧", post_images: @post_images %>
    <% elsif @selection == 'new' %>
      <%= render 'post_images/sort_index', sort_index_title: "新しい投稿順", post_images: @sort_post_images %>
    <% elsif @selection == 'old' %>
      <%= render 'post_images/sort_index', sort_index_title: "古い投稿順", post_images: @sort_post_images %>
    <% elsif @selection == 'many_favorites' %>
      <%= render 'post_images/sort_index', sort_index_title: "いいねが多い順", post_images: @sort_post_images %>
    <% else %>
      <%= render 'post_images/sort_index', sort_index_title: "いいねが少ない順", post_images: @sort_post_images %>
    <% end %>
    
  </div>
  <div class="back-button d-inline-block">
    <%= link_to main_path do %>
      <i class="fas fa-arrow-circle-left mr-2"></i>メイン画面へ
    <% end %>
  </div>
</div>