<div class="post-image-main main">
  <div class="container">

    <div class="favorite-images">
      <h2>人気の作品</h2>
      <div class="slider-favorite">
        <% @ranking_post_images.each.with_index(1) do |ranking_post_image, i|%>
          <%= link_to post_image_path(ranking_post_image), class: "d-block" do %>
              <div class="ranking-post-image">
                <p><span><%= "#{i}" %></span>位</p>
                <%= attachment_image_tag ranking_post_image, :image %>
                <div class="post-image-text">
                  <div class="post-image-text-items">
                    <div class="post-image-text-item">
                      <i class="fas fa-user mr-1"></i><%= ranking_post_image.user.account_name %><br />
                    </div>
                    <div class="post-image-text-item ml-2">
                      <i class="fas fa-heart mr-1 text-danger"></i><%= ranking_post_image.favorites.count %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
      <div class="post-image-main-link">
        <%= link_to post_images_path do %>
          作品一覧へ<i class="fas fa-chevron-right ml-3"></i>
        <% end %>
      </div>
    </div>

    <div class="new-images">
      <h2>新着作品</h2>
      <div class="slider-new">
        <% @post_images.each do |post_image|%>
          <%= link_to post_image_path(post_image), class: "d-block" do %>
            <div class="main-post-image">
              <%= attachment_image_tag post_image, :image %>
              <div class="post-image-text pt-2">
                <i class="fas fa-user mr-2"></i><%= post_image.user.account_name %><br />
                <span class="post-image-introduction"><%= post_image.title %></span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="post-image-main-link">
        <%= link_to post_images_path do %>
          作品一覧へ<i class="fas fa-chevron-right ml-3"></i>
        <% end %>
      </div>
    </div>
    
    <div class="favorite-hashtags">
      <h2>人気のタグ</h2>
      <div class="favorite-hashtag-lists">
        <% @hashtags.each do |hashtag| %>
          <%= link_to hashtag.hashname, hashtag_path(hashtag.hashname), class: "favorite-hashtag" %>
        <% end %>
      </div>
    </div>

    <% if user_signed_in? %>
      <% if current_user.following_user.empty? %>
        <div class="follow-images">
          <h2 class="mb-4">フォローユーザーの新着作品</h2>
          <p>現在フォロー中のユーザーはいません</p>
          <div class="post-image-main-link">
            <%= link_to users_path do %>
              ユーザー一覧へ<i class="fas fa-chevron-right ml-3"></i>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="follow-images">
          <h2 class="mb-4">フォローユーザーの新着作品</h2>
          <% @following_users.each do |following_user| %>
            <h4><%= following_user.account_name %></h4>
            <div class="follow-image">
              <% following_user.post_images.limit(6).order('id desc').each do |post_image|%>
                <%= link_to post_image_path(post_image), class: "d-block" do %>
                  <div class="main-post-image">
                    <%= attachment_image_tag post_image, :image %>
                    <div class="post-image-text pt-2">
                      <i class="fas fa-user mr-2"></i><%= post_image.user.account_name %><br />
                      <span class="post-image-introduction"><%= post_image.title %></span>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <div class="post-image-main-link d-flex justify-content-between">
            <%= link_to users_path do %>
              <i class="fas fa-chevron-left mr-3"></i>ユーザー一覧へ
            <% end %>
            <%= link_to following_path(current_user) do %>
              フォローユーザー一覧へ<i class="fas fa-chevron-right ml-3"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>