<div class="top">
  <div class="top-header" id="top">
    <div class="top-header-content container">
      <h3 class="top-title">
        Bringing Your Art<br />
        to More People....
      </h3>
      <p class="top-subtitle">あなたのイラストをもっと身近にお手軽に</p>
      <div class="top-buttons">
        <%= link_to "ログイン", new_user_session_path, class: "btn button top-button"%>
        <%= link_to "新規登録", new_user_registration_path, class: "btn button top-button ml-4"%>
        <%= link_to 'ゲストログイン（ポートフォリオ用）', guest_sign_in_path, method: :post, class: "btn button top-button " %>
      </div>
    </div>
  </div>

  <div id="about" class="top-about text-center">
    <div class="container">
      <h2 class="top-about-title mb-4">About</h2>
      <div class="top-about-text">
        <h4>イラストを描いて欲しいをもっと手軽に！</h4>
        <p>
          FanNotesでは登録しているユーザーにイラストを手軽に発注することが出来ます<br>
          アイコンの作成や、オリジナルキャラクターのリメイク、似顔絵やHPなどで使う素材などを自分が見つけた好きな絵を描くユーザーに簡単に依頼しよう<br>
          もちろんイラストを閲覧するだけでも可能！<br>
          お気に入りの作家を見つけて自分の為のイラストを製作してもらおう！
        </p>
      </div>
      <div class="mt-5">
        <%= link_to "イラストを見にいこう", main_path, class: "btn button"%>
      </div>
    </div>
  </div>

  <div class="top-how-to-use">
    <div class="container text-center">
      <h2>How to Use</h2>
      <div class="top-messages">
        <div class="top-message">
          <div class="top-message-left">
            <h4>
              <span>01</span>
              自分の描いた絵を投稿
            </h4>
            <p>
              自分の描いた絵を投稿していいねやメッセージをもらおう！<br>
              ハッシュタグをつけて投稿することも可能！<br>
              自分のイラストをたくさんのユーザーと共有しよう！
            </p>
          </div>
          <div class="top-message-right">
            <%= image_tag 'top-message-1.png' %>
          </div>
        </div>
        <div class="top-message">
          <div class="top-message-left">
            <h4>
              <span>02</span>
              イラストを投稿しているユーザーから<br>
              自分の好きなユーザーを見つけよう</h4>
            <p>
              好きなイラストを描くユーザーをフォローすることも可能！<br>
              フォローしたユーザーのイラストをチェックしていいねやコメントを残そう！<br>
            </p>
          </div>
          <div class="top-message-right">
            <%= image_tag 'top-message-2.png' %>
          </div>
        </div>
        <div class="top-message">
          <div class="top-message-left">
            <h4>
              <span>03</span>
              自分の用途に合わせてユーザーに<br>
              イラストをお願いしよう
            </h4>
            <p>
              好きなユーザーにイラストを依頼しよう！<br>
              納期や、使用用途、参考イラストなどを添付してユーザーに依頼を発注<br>
              依頼はユーザーが承諾した場合のみ製作されます<br>
              納期や依頼に無理のないような依頼を心がけよう！
            </p>
          </div>
          <div class="top-message-right">
            <%= image_tag 'top-message-3.png' %>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <%= link_to "イラストを見にいこう", main_path, class: "btn button"%>
      </div>
    </div>
  </div>
  
</div>