<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

      <%= link_to main_path, class: "navbar-brand" do %>
        <h2>FanNotes</h2>
      <% end %>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "投稿する", new_post_image_path, class: "nav-link active"%>
            </li>
            <li class="nav-item">
              <%= link_to "投稿一覧", post_images_path, class: "nav-link active"%>
            </li>
            <li class="nav-item">
              <%= link_to "ユーザー一覧", users_path, class: "nav-link active"%>
            </li>
            <li class="nav-item">
              <%= link_to "マイページ", user_path(current_user), class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"%>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "トップページ", root_path, class: "nav-link active"%>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link"%>
            </li>
          <% end %>
        </ul>
        <%= render "layouts/search_form" %>
        
      </div>
    </div>
  </nav>
</div>